/*서체 별 유니코드 지정하기*/
/*영어, 숫자, 특수문자는 헵타*/
@font-face {
    font-family: "Hepta Slab", serif;
    src: url('https://fonts.googleapis.com/css2?family=Hepta+Slab:wght@1..900&display=swap');
    font-optical-sizing: auto;
    font-weight: 500, 400, 600;
    font-style: normal;
    unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;
}
/*한글은 프리텐다드*/
@font-face {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    src: url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css');
    font-weight: 500, 400, 700;
    font-style: normal;
    unicode-range: U+AC00-D7A3;
}


body{font-size: calc(0.5vw + 0.5rem);
    line-height: 150%;
    font-family: 'Hepta Slab', 'Pretendard Variable';
word-break: keep-all;
margin: 0;
overscroll-behavior: none;
background: conic-gradient(#fff 25%, #ddd 25% 50%, 
		#fff 50% 75%, #ddd 75%);
	background-size: 16px 16px; 
    background-attachment: fixed;
}

body ::selection {
    background-color: #000000;
    color: #E0FC61;
    }
body::-webkit-scrollbar {
    display: none;}
body::-webkit-scrollbar {
    display: none;} /* for Chrome, Safari, and Opera */
:root {
    color-scheme: light only;
  }

  
nav{position: fixed; text-align: right;
  right: 0; top: 0;
margin-top: 30px;
margin-right: 2.5vw;
font-family: "Hepta Slab", serif;     
font-weight: 500;
font-size: 3em;
z-index: 100;
letter-spacing :-0.02em;
display: flex;}

a{text-decoration: none; color: #000000;}
nav a{margin-left: 10px;}
#about{width: 4em;}
#project{width: 4.05em;}
#designer{width: 4.9em;}
#archive{width: 4.3em;}





.background{
    background: conic-gradient(#fff 25%, #ddd 25% 50%, 
		#fff 50% 75%, #ddd 75%);
	background-size: 16px 16px; 
    width: 100vw;
    height: 100vh;
    background-image: url("../resource/bg_main.png");
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
    position: absolute; 
    display: flex;
    align-items: center;
    justify-items: center;
}
.backyard { position: fixed; width: 100vw; transform: translateY(-180px);}
#main_b1{ position: relative; top: 20vh;}


.zone{position: fixed; width: calc(100vw - 400px); left: 200px; height: calc(100vh - 100px - 3em);}
.prompt{height: calc(1vw + 1rem);}
.logo_white{
    height: 74vh; 
    width: 70vh;
    left: calc(50vw - 35vh);
    top: 3vh; 
    align-content: center;
    position: absolute;
    user-select: none;
}
.logo{
    height: 74vh; 
    width: 70vh;
    align-content: center;
    position: absolute;
    background-size: cover;
}

.people{position: relative;
    height: 50vh;
    overflow: hidden;
    left: 9vh; 
    top:7.5vh; 
user-select: none;
display: flex;
align-items: center;
justify-items: center;
transform: translateY(40px);
}

#main_p1{height: -webkit-fill-available;}
.arrow{ position:absolute; width: 130px; height: 100px; top: calc(50vh - 50px);}
.right{ right: 50px; display: flex; align-items: center; justify-content: end;}
.left{ left: 50px;display: flex; align-items: center; justify-content: left;}


.footerback{
    box-sizing: border-box;
    padding-left: 2.5vw;
    padding-right: 2.5vw;
    position: absolute;
    top: 100vh;
    height: 100px;
    width: 100vw;
    background: white;
    color:#ABACAD;
    align-items: center;
    display: flex;
    justify-content: space-between;
    font-weight: 500;}
.logo_footer{ height: 65px;  display: flex; align-items: center;}











/*----------모바일----------*/ 

@media (max-width: 768px) and (orientation: portrait) {
    nav{position: fixed; 
        text-align: right;
        right: 0; top: 0;
    width: 100%;
      margin-top: 10px;
      margin-right: auto; 
      font-size: 3.5em;
      z-index: 100;
      letter-spacing :-0.02em;
      display: flex;
      flex-direction: column;
      align-items: center
    }
      nav a {margin-top: 1rem; right: 0; height: 30px;}
      a{text-decoration: none; color: #000000;}
      #about{width: 3.5em;}
      #project{width: 4.05em;}
      #designer{width: 4.9em;}
      #archive{width: 4.3em;}
      
      
      
    
      .backyard { position: fixed; 
        width: 180vw; transform: translateX(-40vw) translateY(-180px);}
      #main_b1{ position: relative; top: 20vh;}
      
      
      .zone{position: fixed; width: 80%; left: 5%; height: 55%; top: 25%;}
      .prompt{height: calc(1.5vw + 1.2rem);}
      .logo_white{
          height: 74vh; 
          width: 70vh;
          left: calc(50vw - 14vh);
          top: 3vh; 
          align-content: center;
          position: absolute;
          user-select: none;
      }
      .logo{
          width: 30vh;
          align-content: center;
          position: absolute;
          background-size: cover;
          display: none;
      }
      
      .people{position: relative;
          height: 50vh;
          overflow: hidden;
          left:-11vh; 
          top: 5vh; 
      user-select: none;
      display: flex;
      align-items: center;
      justify-items: center;
      transform: translateY(40px);
      }
      
      #main_p1{height: -webkit-fill-available;}
      .arrow{ position:absolute; width: 65px; height: 50px; top: calc(50vh - 50px);}
      .right{ right: 16px; display: flex; align-items: center; justify-content: end;}
      .left{ left: 16px;display: flex; align-items: center; justify-content: left;}
      
     

      .footerback{
        box-sizing: border-box;
        padding-left: 4.5vw;
        padding-right: 4.5vw;
        top: calc(100vh - 100px);
        height: 100px;
        width: 100vw;
        background: white;
        color:#ABACAD;
        align-items: center;
        display: flex;
        justify-content: space-between;
        font-weight: 500;
        position: fixed;
    }
    .logo_footer{ width: 25%; height: 65px;  display: flex; align-items: center; transform: scale(0.7);}



 
  }